<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_for :user, url: '/users' do |f|  %>
        <div class="card mt-5">
          <div class="card-header bg-success text-white">
            <h3 class="card-title">Signup</h3>
          </div>
          <div class="card-body">
            <div class="form-group mb-2">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
            </div>

            <div class="form-group mb-2">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
            </div>

            <div class="form-group mb-2">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
            </div>

            <div class="form-group mb-2">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>

            <div class="form-group mb-2">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
            </div>

            <div class="form-group mt-4 mb-4">
              <%= f.submit "Register", class: "btn btn-success" %>
            </div>

            <%= link_to "Go To Login",  "/login" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>